/* Styiling the sign up page */

.sign-up-page {
  margin: 0;
  padding: 0;
  background-image: url(/img/spencer-imbrock-JAHdPHMoaEA-unsplash.jpg);
  background-position: center;
  width: 100%;
  color: white;
}

.signup-title {
  text-align: center;
  font-size: 70px;
  padding-top: 1rem;
}

.sign-up-form {
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: #000;
  padding: 20px;
  margin: 3% auto 0;
  text-align: center;
  border-radius: 25px;
}

.input-box {
  padding: 7px;
  margin: 7px;
  outline: none;
  background-color: black;
  border: 1px solid white;
  border-radius: 20px;
}

input {
  color: white;
}

button {
  padding: 1rem;
  border-radius: 40px;
  background: white;
  text-align: center;
  text-decoration: none;
  font: bold 1em/1 black;
  letter-spacing: 1px;
  color: black;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 15px 1rem 1rem 0;
  border: 0;
  outline: none;
}

/* End of styling of the sign up page */
:root {
  --bg-color: white;
  --link-color: black;
  --link-hover-color: #421b38;
  --color-4: #0000;
  --color-5: #0000;
  --primary-font: ;
  --secondary-font: ;
  --main-text-color: #000;
}

/* Feed html */
.feedBody {
  background-color: black;
  padding: 0;
  margin: 0;
}

.feedNav li {
  display: inline-block;
  list-style: none;
  padding-right: 2rem;
  text-transform: uppercase;
}
.logo img {
  width: 1.5vw;
  height: 1.5vw;
}
.logo {
  float: right;
}
.feedNav {
  position: fixed;
  background-color: white;
  width: 100%;
}
.feedMain {
  display: flex;
  justify-content: center;
}
.feedMain p,
h3 {
  color: white;
}
.post {
  flex-direction: column;
}
.feedImg {
  height: 40vw;
  width: 40vw;
}
.eachPost {
  border: 1px solid white;
  margin: 2em;
  padding: 0.2em;
}
.LCS {
  display: flex;
  flex-direction: row;
  background-color: white;
}
.LCS img {
  margin-left: 1em;
  padding: 0.2em;
  width: 1.5vw;
  height: 1.5vw;
}
