@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300&display=swap');
/* Styiling the sign up page */

h1 {font-family: 'Livvic', sans-serif;
  font-size: 60px;
  text-align: left;
}


.sign-up-page {
  margin: 0;
  padding: 1;
  background-image: url(/img/synth.jpg);
  background-position: center;
  width: 100%;
  color: white;
  
}

.signup-title {
  display: block;
  margin-left: auto;
  margin-right:auto;
  max-width: 50%;
  filter: drop-shadow(0 0 0.75rem #fff)
  ;
}

.sign-up-form {
  width: 300px;
  background: transparent;
  background: linear-gradient(180deg, rgba(16,0,36,0.8029412448573179) 31%, rgba(83,9,121,0.783333401720063) 71%, rgba(199,0,255,0.4191877434567577) 100%);
  padding: 20px;
  margin: 3% auto 0;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 4rem;
  
}




.input-box {
  padding: 7px;
  margin: 7px;
  outline: none;
  background-color: black;
  border: 1px solid white;
  border-radius: 20px;
}

input {
  color: white;
}

button {
  padding: 1rem;
  border-radius: 40px;
  background: white;
  text-align: center;
  text-decoration: none;
  font: bold 1em/1 black;
  letter-spacing: 1px;
  color: black;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 15px 1rem 1rem 0;
  border: 0;
  outline: none;
}

/* End of styling of the sign up page */
:root {
  --bg-color: white;
  --link-color: black;
  --link-hover-color: #421b38;
  --color-4: #0000;
  --color-5: #0000;
  --primary-font: ;
  --secondary-font: ;
  --main-text-color: #000;
}

/* Feed html */
.feedBody {
  background-color: black;
  padding: 0;
  margin: 0;
}

.feedNav li {
  display: inline-block;
  list-style: none;
  padding-right: 2rem;
  text-transform: uppercase;
}
.logo img {
  width: 1.5vw;
  height: 1.5vw;
}
.logo {
  float: right;
}
.feedNav {
  position: fixed;
  background-color: white;
  width: 100%;
}
.feedMain {
  display: flex;
  justify-content: center;
}
.feedMain p,
h3 {
  color: white;
}
.post {
  flex-direction: column;
}
.feedImg {
  height: 40vw;
  width: 40vw;
}
.eachPost {
  border: 1px solid white;
  margin: 2em;
  padding: 0.2em;
}
.LCS {
  display: flex;
  flex-direction: row;
  background-color: white;
}
.LCS img {
  margin-left: 1em;
  padding: 0.2em;
  width: 1.5vw;
  height: 1.5vw;
}







