@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-image: url(img/pexels-merlin-lightpainting-7464062.png);
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   margin-bottom: 30px;
  }
 */

/*styling of profile-info */

main {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: auto;
  margin: 5rem;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  color: purple;
}

aside {
  float: right;
  /* background: rgb(16, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(16, 0, 36, 0.8029412448573179) 31%,
    rgba(83, 9, 121, 0.783333401720063) 71%,
    rgba(199, 0, 255, 0.4191877434567577) 100%
  );
  color: white; */

  border-radius: 20px;
  /* background-image: url(img/pexels-merlin-lightpainting-7464062.png);
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: transparent;
}

.profile-feed {
  grid-column: 2/6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 5rem;
}

.feedImg,
.profile-img {
  max-width: 100%;
  display: block;
}

.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.profile-name {
  padding-top: 0.5rem;
}

.profile-bio {
  padding-top: 0.5rem;
}

.profile-genres li {
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
  padding: 0.3rem;
}

.profile-genres {
  padding-top: 0.8rem;
}

.eachPost {
  margin: 0.5em;
  padding: 0.2em;
}

.LCS {
  display: flex;
  flex-direction: row;
  /* background-color: white; */
}
.LCS img {
  margin-left: 0.5em;
  margin-top: 0.5em;
  width: 3vw;
  height: 1.5vw;
  padding-right: 1em;
}

.profile-name,
.profile-bio {
  color: white;
  padding: 0.5em;
}

.profile-name {
  text-align: center;
}
